body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0%;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35;
}
.name {
  color: rgb(50, 166, 205);
}
.flexible-container {
  display: flex;
  margin-bottom: 70px;
}

.half-width {
  width: 50%;
  padding: 25px;
  padding-left: 5%;
  text-align: justify;
}
.half-width img {
  width: 70%;
  padding: 25px;
  padding-left: 20%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(114, 214, 254), rgb(11, 61, 77));
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.top-banner {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}

.half-width2 img {
  width: 70%;
  /* padding: 25px; */
  padding-right: 20%;
}
.half-width2 {
  width: 50%;
  padding: 25px;
  padding-right: 5%;
  margin-right: 5%;
  text-align: justify;
}
.dream-big {
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  text-align: justify;
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
}
.yellow {
  color: rgb(50, 166, 205);
}
.full-stack {
  width: 40%;
  /* padding: 25px; */
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 5px 10px 18px #888888;
  margin-left: 5%;
  margin-right: 5%;
  border: 7px;
  border-left-style: solid;
  border-left-color: rgb(55, 105, 153);
}
.baby {
  width: 40%;
  /* padding: 25px; */
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 5px 10px 18px #888888;
  margin-left: 5%;
  margin-right: 5%;
  border: 7px;
  border-left-style: solid;
  border-left-color: rgb(244, 131, 87);
}
footer{
    text-align: center;
    color: dimgray;
    font-size: 19px;
}
